  <div id="content" class="content">
        <ol class="breadcrumb pull-right">
        <li><a href="javascript:;">Home</a></li>
        <li><a href="javascript:;">Tables</a></li>
        <li><a href="javascript:;">Managed Tables</a></li>
        <li class="active">ColReorder</li>
       </ol>
        <div class="row">
          
          <div class="col-md-12">
            <!-- end page-header -->
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                      <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                      <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                      <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                      <!-- <i>fa fa-plus fa-fw<i> -->
                      <%= link_to '', new_client_path, class: " fa fa-plus fa-fw btn btn-xs btn-icon btn-circle btn-danger" %>
                      <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                    <h4 class="panel-title">Add Contact</h4>
                </div>
                
                <div class="panel-body">
                <div class="col-md-6">
                  
                    <%= form_for [@city], :html => {:"data-parsley-validate" => 'true'} do |f| %>
                <div class="form-group">
                  <%= f.label :Country %>
                    <%= f.collection_select(:country_id, Country.all, :id, :name,{prompt: 'Select'}, {class: "form-control", "data-parsley-required" => "true"  })  %>
                </div>
                <div class="form-group">
                  <%= f.label :State %>
                    <%= f.collection_select(:state_id, State.all, :id, :name,{prompt: 'Select'}, {class: "form-control", "data-parsley-required" => "true"})  %>
                  </div>
                  <div class="form-group">
                    <%= f.label :City %>
                    <%= f.text_field :name, placeholder: "City name", "data-parsley-required" => "true", class: "form-control" %>
                  </div>  
                  <div class="form-group">
                    <%= f.label :Active %>
                    <%= f.check_box  :status, checked: "checked", "data-parsley-required" => "true" %>
                  </div>            
                  <div class="form-group">
                    <%= f.submit "Save", class: "btn btn-success" %> 
                    <%= link_to 'Cancel', cities_path, class:'btn btn-danger' %>
                  </div>
                  
                <% end %>
                </div>
                    </div>
                </div> 
              </div>
          </div>
    </div>
         

  <script src="/assets/jquery-ui.min.js"></script>
  <script src="/assets/jquery.slimscroll.min.js"></script>
 


<script>
    $(document).ready(function() {
      App.init();
    });
    
     $('#city_country_id').on('change', function() {
         getState(this.value)
     })
     // function is used for get states according to country  
     function getState(country_id){
      $.ajax({
          type: 'get',
          url: '/cities/get_state',
          data: {'country_id': country_id},
          dataType: "text",
              success: function(data) {
                $('#city_state_id').html(data);
               }
      });
    }
  </script>